<%- model_class = Service -%>
<%= render 'shared/search' %>

<% @services.each do |service| %>
  <% c = (10 * service.score).round >= 6 ? "good-block" : "bad-block" %>
  <div class="row">
    <div class="span2 text-center">
      <div class="block <%= c %>">
        <h2><%= (10 * service.score).round %>/10</h2>
      </div>
      <p><%- if service.country %>
Hosted in <%= image_tag("flags/#{Country.find_country_by_name(service.country).alpha2.downcase}.png") %>
<% end %>
<%- if service.hosting_provider %>
 by <%= service.hosting_provider %>
<% end %></p>
    </div>
    <div class="span9">
      <h2><%= link_to service.name, service_path(service) %></h2>
      <p class="muted">Last updated by zeroXten <%= service.updated_at %></p>
      <p><%= service.description %></p>
    </div>
  </div>
    <hr/>
<% end %>

<%= paginate @services %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
