<div class="row">
  <div class="span12">
    <h2>What is <%= site_name %>?</h2>
    <p><%= site_name %> is a community-driven project that aims to bring transparency to the security of online services.</p>
    <p>New cloud-based web applications, site and services go live everyday, and more of our lives are being moved into the cloud. New companies barely a few months old are suddenly entrusted with your personal data. Long established services may have a history of privacy breaches or unsatisfactory behaviour with regards to safeguarding your personal data.</p>
    <p><%= site_name %> is a way to bring this information together to allow you to make an informed choice on whether to use a service, or which of several competing services to use. Most services are happy to shout about their amazing features and this site aims to bridge the gap between the marketing material and reality.</p>
    <h2>Our mission</h2>
    <h6>Promote internet security awareness</h6>
    <h6>Encourage transparency from services regarding their security implementations and how they handle personal data</h6>
    <h6>Provide a tool that allows people to make better informed decisions regarding their personal data</h6>
    <h6>Give service owners the opportunity to address issues that the public is not happy with</h6>

    <h2>Community driven you say?</h2>
    <p><%= site_name %> is a project independant from any company. It was created by people that want to see improvements ...</p>
    <h6>Open Source</h6>
    <p>This source code to this site is fully open sourced and is available here</p>
    <h6>Moderators</h6>
    <p>In order to prevent abuse such as spam or biased reports, services and related data go through a process of moderation.</p>
    <h2>Who is this site for?</h2>
    <h2>Road map</h2>
    <p><%= site_name %> is in the very early stages of development. As stated above, our aim is to become fully community driven. The site is under constant develop with many new features to be rolled out as time.
    <h2>Want to help out?</h2>
    <p>You can help out by:</p>
    <ul>
      <li>Adding new sites</li>
      <li>Providing feedback on this page</li>
      <li>Submitting issues on our github project here</li>
      <li>Submitting patches on our github project here</li>
      <li>Adding comments to services etc to help build the community</li>
      <li>Promote this site and spread the word</li>
    </ul>
    <h2>What does thunr mean?</h2>
    <p><strong>thunr</strong> is derived from the Old Saxon name <em>thunar</em> for <a href="http://en.wikipedia.org/wiki/Thor">Thor</a>, the god of thunder, lightning and the protection of mankind.</p>
    <h2>Have something to say?</h2>
    <p>You you can leave feedback using the Disqus comments below. This allows you to sign in to Discus using Disqus, Twitter, Facebook etc without having to sign up at <%= site_name %> first. All feedback is welcome, good or bad, as long as it is constructive and unoffensive.</p>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
       /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
       var disqus_shortname = 'thunr'; // required: replace example with your forum shortname

       /* * * DON'T EDIT BELOW THIS LINE * * */
       (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div> 
